html, body {
    height: 100%;
}

.gameboy {
    background-color: #c9cecf;
    display: grid;
    grid-template-areas: "top top    top    top    top"
                         "... screen screen screen ..."
                         "... logo   logo   ...    ..."
                         "... d-pad  ...    a-b    ..."
                         "... ...    s-s    ...    ..."
                         "... ...    ...     ...    ...";
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
    grid-template-rows: 5% 45% auto auto auto 5%;
    border: solid black 1px;
    border-radius: 25px 25px 75px 25px;
    height: 95%;
    margin: 1%;
}

#top {
    grid-area: top;
}

#screen {
    grid-area: screen;
    display: flex;
    background-color: #8b8caa;
    border: solid black 1px;
    border-radius: 15px 15px 50px 15px;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.game-container {
    position: relative;
    width: 90%;
    height: 90%;
    border: 1px solid white;
    border-radius: 5px;
    margin: auto;
}

.game-container canvas {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    image-rendering: pixelated;
}

#logo {
    grid-area: logo;
    color: rgb(3, 3, 165);
    font-size: 1.5em;
    margin-top: 2px;
}

#d-pad {
    grid-area: d-pad;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#a-b {
    grid-area: a-b;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#a {
    align-self: end;
}

#a, #b {
    background-color: #840145;
    display: block;
    font-weight: bold;
    font-size: 1em;
    border-radius: 50%;
    height: 3.5em;
    width: 3.5em;
    color: antiquewhite;
}

#select-start {
    grid-area: s-s;
}

#start, #select {
    border-radius: 8px;
    transform: rotate(-25deg);
}


.arrow {
    background-color: black;
    height: 125%;
}

.mid-d {
    background-color: black;
}

@media only screen and (min-width: 600px) {
    .gameboy {
        grid-template-areas: "... ...   ...    ... ..."
                             "... ...   screen s-s ..."
                             "... d-pad screen a-b ..."
                             "... ...   screen a-b ..."
                             "... ...   logo   ... ..."
                             "... ...   hp     ... spk";
        grid-template-columns: 5% 1fr 50% 1fr 5%;
        grid-template-rows: 5% 1fr 1fr 1fr 5% 5%;
    }
    #top {
        display: none;
    }
}