html, body {
    height: 100%;
}

.gameboy {
    background-color: #c9cecf;
    display: grid;
    grid-template-areas: "top top    top    top    top"
                         "... screen screen screen ..."
                         "... logo   logo   ...    ..."
                         "... d-pad  ...    a-b    ..."
                         "... ...    s-s    ...    spk"
                         "... ...    hp     ...    spk";
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
    grid-template-rows: 5% 45% auto auto auto 5%;
    border: solid black 1px;
    border-radius: 25px 25px 75px 25px;
    height: 95%;
    margin: 1%;
}

#top {
    grid-area: top;
}

#screen {
    grid-area: screen;
    background-color: #8b8caa;
    border: solid black 1px;
    border-radius: 15px 15px 50px 15px;
}

#logo {
    grid-area: logo;
}

#d-pad {
    grid-area: d-pad;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#a-b {
    grid-area: a-b;
}

#select-start {
    grid-area: s-s;
}

#headphone {
    grid-area: hp;
}

#speaker {
    grid-area: spk;
}


.arrow {
    background-color: black;
    height: 125%;
}

.mid-d {
    background-color: black;
}

@media only screen and (min-width: 600px) {
    .gameboy {
        grid-template-areas: "... ...   ...    ... ..."
                             "... ...   screen s-s ..."
                             "... d-pad screen a-b ..."
                             "... ...   screen a-b ..."
                             "... ...   logo   ... ..."
                             "... ...   hp     ... spk";
        grid-template-columns: 5% 1fr 50% 1fr 5%;
        grid-template-rows: 5% 1fr 1fr 1fr 5% 5%;
    }
    #top {
        display: none;
    }
}